logic-apps/quarantine-email/workflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Microsoft Sentinel Log Analytics workspace name" }
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "RetailShield-QuarantineEmail",
      "metadata": { "description": "Name of the Logic App" }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region for the Logic App" }
    }
  },
  "variables": {
    "sentinelConnectionName": "azuresentinel",
    "office365ConnectionName": "office365"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Sentinel",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_incident_entities": {
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()",
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}/entities"
              },
              "runAfter": {}
            },
            "Filter_mailbox_entities": {
              "type": "Query",
              "inputs": {
                "from": "@body('Get_incident_entities')?['entities']",
                "where": "@equals(item()?['kind'], 'Mailbox')"
              },
              "runAfter": { "Get_incident_entities": ["Succeeded"] }
            },
            "Filter_mail_message_entities": {
              "type": "Query",
              "inputs": {
                "from": "@body('Get_incident_entities')?['entities']",
                "where": "@equals(item()?['kind'], 'MailMessage')"
              },
              "runAfter": { "Get_incident_entities": ["Succeeded"] }
            },
            "For_each_mailbox": {
              "type": "Foreach",
              "foreach": "@body('Filter_mailbox_entities')",
              "actions": {
                "Send_quarantine_notification": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                    },
                    "method": "post",
                    "path": "/Mail",
                    "body": {
                      "To": "@items('For_each_mailbox')?['properties']?['upn']",
                      "Subject": "[RetailShield] Security Alert: Suspicious email quarantined",
                      "Body": "<p>A potentially malicious email has been identified in your mailbox and has been flagged for quarantine by the RetailShield security system. Please do not open any attachments or links in recent unexpected emails. Contact your security team if you have any questions.</p>",
                      "Importance": "High"
                    }
                  }
                }
              },
              "runAfter": { "Filter_mailbox_entities": ["Succeeded"] }
            },
            "For_each_mail_message": {
              "type": "Foreach",
              "foreach": "@body('Filter_mail_message_entities')",
              "actions": {
                "Quarantine_via_Defender": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://api.securitycenter.microsoft.com/api/advancedqueries/run",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                      "Query": "@{concat('EmailEvents | where NetworkMessageId == \"', items('For_each_mail_message')?['properties']?['networkMessageId'], '\" | project NetworkMessageId, RecipientEmailAddress, Subject')}"
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://api.securitycenter.microsoft.com"
                    }
                  }
                }
              },
              "runAfter": { "Filter_mail_message_entities": ["Succeeded"] }
            },
            "Add_comment_to_incident": {
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "message": "<p>RetailShield quarantine-email playbook executed. Affected mailbox user(s) have been notified. Mail message entities have been submitted to Defender for Office 365 for quarantine review. Verify quarantine status in the Microsoft 365 Defender portal under Email &amp; collaboration &gt; Review &gt; Quarantine.</p>"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}/comments"
              },
              "runAfter": {
                "For_each_mailbox": ["Succeeded", "Failed"],
                "For_each_mail_message": ["Succeeded", "Failed"]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
