logic-apps/block-ip/workflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Microsoft Sentinel Log Analytics workspace name" }
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "RetailShield-BlockIP",
      "metadata": { "description": "Name of the Logic App" }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region for the Logic App" }
    }
  },
  "variables": {
    "sentinelConnectionName": "azuresentinel",
    "azureAdConnectionName": "azuread"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Sentinel",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureAdConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Entra ID",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuread')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('azureAdConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_incident_details": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "get",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}"
              },
              "runAfter": {}
            },
            "Get_incident_entities": {
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()",
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}/entities"
              },
              "runAfter": { "Get_incident_details": ["Succeeded"] }
            },
            "Filter_IP_entities": {
              "type": "Query",
              "inputs": {
                "from": "@body('Get_incident_entities')?['entities']",
                "where": "@equals(item()?['kind'], 'Ip')"
              },
              "runAfter": { "Get_incident_entities": ["Succeeded"] }
            },
            "For_each_IP": {
              "type": "Foreach",
              "foreach": "@body('Filter_IP_entities')",
              "actions": {
                "Add_IP_to_named_location": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": { "name": "@parameters('$connections')['azuread']['connectionId']" }
                    },
                    "method": "post",
                    "path": "/v1.0/identity/conditionalAccess/namedLocations",
                    "body": {
                      "@odata.type": "#microsoft.graph.ipNamedLocation",
                      "displayName": "[concat('RetailShield-Blocked-', parameters('logicAppName'))]",
                      "isTrusted": false,
                      "ipRanges": [
                        {
                          "@odata.type": "#microsoft.graph.iPv4CidrRange",
                          "cidrAddress": "@{concat(items('For_each_IP')?['properties']?['address'], '/32')}"
                        }
                      ]
                    }
                  }
                }
              },
              "runAfter": { "Filter_IP_entities": ["Succeeded"] }
            },
            "Add_comment_to_incident": {
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "message": "<p>RetailShield block-ip playbook executed. IP address(es) identified in this incident have been added to Conditional Access named location for blocking. Review the Conditional Access policy to confirm enforcement is active.</p>"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}/comments"
              },
              "runAfter": { "For_each_IP": ["Succeeded", "Failed"] }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              },
              "azuread": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureAdConnectionName'))]",
                "connectionName": "[variables('azureAdConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuread')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
