logic-apps/isolate-endpoint/workflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Microsoft Sentinel Log Analytics workspace name" }
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "RetailShield-IsolateEndpoint",
      "metadata": { "description": "Name of the Logic App" }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region for the Logic App" }
    },
    "defenderEndpointTenantId": {
      "type": "string",
      "metadata": { "description": "Entra ID tenant ID for Defender for Endpoint API authentication" }
    }
  },
  "variables": {
    "sentinelConnectionName": "azuresentinel"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Sentinel",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" },
            "tenantId": { "defaultValue": "", "type": "String" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_incident_entities": {
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()",
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}/entities"
              },
              "runAfter": {}
            },
            "Filter_host_entities": {
              "type": "Query",
              "inputs": {
                "from": "@body('Get_incident_entities')?['entities']",
                "where": "@equals(item()?['kind'], 'Host')"
              },
              "runAfter": { "Get_incident_entities": ["Succeeded"] }
            },
            "Get_MDE_token": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{concat('https://login.microsoftonline.com/', parameters('tenantId'), '/oauth2/v2.0/token')}",
                "headers": { "Content-Type": "application/x-www-form-urlencoded" },
                "body": "grant_type=client_credentials&client_id=@{triggerBody()?['workspaceInfo']?['SubscriptionId']}&scope=https%3A%2F%2Fapi.securitycenter.microsoft.com%2F.default"
              },
              "authentication": {
                "type": "ManagedServiceIdentity",
                "audience": "https://management.azure.com"
              },
              "runAfter": { "Filter_host_entities": ["Succeeded"] }
            },
            "For_each_host": {
              "type": "Foreach",
              "foreach": "@body('Filter_host_entities')",
              "actions": {
                "Search_MDE_machine": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{concat('https://api.securitycenter.microsoft.com/api/machines?$filter=computerDnsName eq ', '''', items('For_each_host')?['properties']?['hostName'], '''')}",
                    "headers": {
                      "Authorization": "@{concat('Bearer ', body('Get_MDE_token')?['access_token'])}"
                    }
                  }
                },
                "Isolate_machine": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{concat('https://api.securitycenter.microsoft.com/api/machines/', body('Search_MDE_machine')?['value'][0]?['id'], '/isolate')}",
                    "headers": {
                      "Authorization": "@{concat('Bearer ', body('Get_MDE_token')?['access_token'])}",
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "Comment": "Isolated by RetailShield isolate-endpoint playbook in response to Sentinel incident.",
                      "IsolationType": "Full"
                    }
                  },
                  "runAfter": { "Search_MDE_machine": ["Succeeded"] }
                }
              },
              "runAfter": { "Get_MDE_token": ["Succeeded"] }
            },
            "Add_comment_to_incident": {
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "message": "<p>RetailShield isolate-endpoint playbook executed. Host entity/entities have been isolated via Microsoft Defender for Endpoint. Review the MDE portal to confirm isolation status and re-enable connectivity once the investigation is complete.</p>"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/incidents/@{encodeURIComponent(triggerBody()?['object']?['properties']?['incidentNumber'])}/comments"
              },
              "runAfter": { "For_each_host": ["Succeeded", "Failed"] }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              }
            }
          },
          "tenantId": {
            "value": "[parameters('defenderEndpointTenantId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
